.rainbow-item {
  display: inline-block;
  width: calc(13% + 0px);
  height: 50px;
  @media screen and (max-width: 480px) {
    height: 30px;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    height: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 50px;
  }

  @media screen and (min-width: 1024px) {
    height: 60px;
  }
}
.top-rainbow-item {
  transform: skewX(45deg);
}
.bottom-rainbow-item {
  transform: skewX(-45deg);
}
.playing {
  transform-origin: left bottom;
  transform: rotate(-5deg);
}
